.message-box {
  max-width: 1200px;
  margin: 30px auto;
  padding: 30px;
  textarea {
    width: 100%;
    border-color: #D0D0D0;
    resize: none;
    border-radius: 3px;
    min-height: 50px;
    color: #555;
    font-size: 14px;
    outline: auto 0;
  }
}